<h1><%= @occasion.name %></h1>

<% @occasion_user_items.each do |oui| %>
  <h2><%= oui[:nickname] %></h2>
  <ul>
    <% oui[:user_items].each do |user_item| %>
        <%= react_component('OccasionUserItem', {currentUserId: current_user.id, userItem: user_item, }, tag: 'span') %>
    <% end %>
  </ul>
<% end %>
